[beats-{{ beats_version }}]
name=Beats repository for {{ beats_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ beats_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
